@import 'src/styles/colors';
@import 'src/styles/typography';

:root {
  // Backgrounds
  --main-background: #{$color-very-dark-desaturated-blue-1};
  --toggle-background: #{$color-very-dark-desaturated-blue-2};
  --keypad-background: #{$color-very-dark-desaturated-blue-2};
  --screen-background: #{$color-very-dark-desaturated-blue-3};

  // Primary key
  --primary-key-background: #{$color-dark-desaturated-blue-1};
  --primary-key-shadow: #{$color-dark-desaturated-blue-2};

  // Secondary key
  --secondary-key-background: #{$color-light-grayish-orange};
  --secondary-key-shadow: #{$color-grayish-orange};

  // Important key
  --important-key-background: #{$color-red};
  --important-key-shadow: #{$color-dark-red};

  // Text
  --text-opaque: #{$color-very-dark-grayish-blue};
  --text-clear: #{$color-white};

  --keypad-number-font-size: 32px;
}
